<div ng-controller='RecipeController'>
  <form name="recipeForm">
  <br>
    <select ng-model="data.cuisine"
      ng-options="cuisine for cuisine in cuisines"> 
      <option value=''>- Cuisine -</option>    
    </select>
    <br>
  <select ng-model="data.diet"
    ng-options="diet for diet in diets">
    <option value=''>- Diet -</option>        
  </select>
  <br>
  <input type='text'ng-model="data.exclude" placeholder='Exclude'>
  <br>
  <select ng-model="data.intolerances"
    ng-options="intolerance for intolerance in intolerances">
    <option value=''>- Intolerances -</option>        
  </select>
  <br>
  <input type='text' ng-model="data.query" required="string" placeholder='Query'>
  <br>
  <select ng-model="data.type"
    ng-options="type for type in types">
    <option value=''>- Type -</option>        
  </select>
  <br>
  <button ng-click='getRecipes()'>Submit</button>
</form>

  <div class='links'>
    <div class='link' ng-repeat="recipe in results">
      <div>{{recipe}}</div>
      <!-- <img src={{recipe.image}}> -->
    </div>
  </div>
</div>