<div ng-controller='BuilderController'>
  <div>
    <input type='text' ng-model='data.url' placeholder='Enter a URL here'></input>
    <button ng-click='extractRecipe()'>Submit</button>
  </div>
  <div ng-show='loaded' class='ng-hide recipeCard'>
    <div class='heading'>{{title}}</div>
    <br>
    <div class='infobar'>
      <div class='section'>
        <div class ='title'>Prep Time</div>
        <div class ='data'>{{cookingMinutes}}</div>
      </div>
      <div class='section'>
        <div class ='title'>Cook Time</div>
        <div class ='data'>{{readyInMinutes}}</div>
      </div><div class='section'>
        <div class ='title'>Servings</div>
        <div class ='data'>{{servings}}</div>
      </div>
    </div>
    <div class='heading'>Ingredients</div>
    <ul ng-repeat='ingredient in ingredients'>
      <li class='ingredients'>{{ingredient.originalString}}</li>
    </ul>
    <div class='heading'>Method</div>
    <div class='recipeText'>{{instructions}}</div>
    <br>
    <div>Source: {{sourceUrl}}</div>
  </div>
  <button ng-click="Submit()">Save</button>

</div>