<div>
  <form ng-hide='loaded' name="recipeForm">
    <table>
      <tr>
        <td>Query</td>
        <td>
          <input type='text' ng-model="data.query" required="string" placeholder='Query, e.g. chocolate brownies'>
        </td>
      </tr>
      <tr>
        <td>Cuisine</td>
        <td>
          <select ng-model="data.cuisine" ng-options="cuisine for cuisine in cuisines"></select>
        </td>
      </tr>
      <tr>
        <td>Diet</td>
        <td><select ng-model="data.diet" ng-options="diet for diet in diets"></select>
        </td>
      </tr>
      <tr>
        <td>Avoid</td>
        <td><select ng-model="data.intolerances" ng-options="intolerance for intolerance in intolerances"></select></td>
      </tr>
      <tr>
        <td>Category</td>
        <td><select ng-model="data.type" ng-options="type for type in types"></select></td>
      </tr>
    </table>
    <br>
    <button ng-click='getRecipes()'>Submit</button>
  </form>

  <div class='link'>
    <div class='recipe' ng-repeat="recipe in results">
      <div class='info'>
        <div class="title"><a href="{{recipe.sourceUrl}}">{{recipe.title}}</a></div>
        <div class="original">{{recipe.sourceName}}</div>
    </div>
  </div>
</div>