<form ng-hide='loaded'>
<input type='text' ng-model='data.calories' placeholder='How many calories are you aiming for?'>
<br>
<br>
</form>
<button class='button' ng-click='getPlan()'ng-hide='loaded'>Submit</button>
<button class='button' ng-click="getPlansFromDB()">Retrieve Plans</button>
<button class='button' ng-click="savePlanToDB()">Save Plan</button>

<!-- <h4 ng-show='loaded && plan.meals.length!=0'>Showing {{showing}} of {{plan.meals.length}} plans in the database</h4>
<h4 ng-show='data.length==0'>No plans found</h4> -->
<!-- THUMBNAILS FOR PLANS - ONE PAGE PER PLAN -->
<div ng-repeat='plan in filteredPlans'>
  <h3>Calories in plan: {{plan.nutrients.calories}}</h3>
  <div ng-show='loaded' class="row">
    <div ng-repeat='recipe in plan.meals'>
      <div class="col-sm-5 col-md-4">
        <div class="thumbnail">
          <div class='imageContainer' style='background: url({{recipe.image}}) center center'>
          </div>
          <div class='thumbnailtxt'>
            <h3>{{recipe.title}}</h3>
           <p><a href="{{recipe.url}}" class="btn btn-primary" role="button">Go to recipe</a></p>
         </div>
        </div> <!-- end thumbnail -->
      </div> <!-- end col definition -->
    </div> <!-- end ngrepeat -->
  </div> <!-- end thumbnail row -->
</div>
<div class='text-center'>
    <pagination total-items="totalItems" items-per-page="itemsPerPage" page="currentPage"></pagination>
</div>


